body{
  color: white;
  background: black !important;
  height: 100% !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.d-inline{
  display: inline-block !important;
}
.d-block{
  display: block !important;
}
.column{
    float: left;
    width: 48%;
    padding: 10px;
    height: 100%;
}
.column > h3{
  text-align: center;
  color: white;
}
.row{
  background: black;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bg-custom-dblue, .bg-custom-dblue:focus{
  background: rgb(53, 73, 93);
  border: none;
  color: white !important;
}

.count-state{
  padding: 1em;
}

.count-btn{
  padding: 0 1em;
  background: rgb(32, 45, 57);
  color: white;
}

.img-select, .img-select.h-off:hover{
  background: rgb(53, 73, 93);
  border-radius: 100px;
  padding: .5em;
  height: 70px;
  margin: .5em;
}
.img-select:hover{
  background: rgb(32, 45, 57);
}
.image-list-container{
  width: 70%;
  margin: 0 auto;
  background: rgb(45, 62, 79);
}

.custom-submit{
  margin-top: 1em;
  color:white;
  font-size: 10px;
  line-height: 25px;
}
.custom-submit:disabled,
.custom-submit[disabled]{
  background-color: rgb(41, 44, 47);
  color: rgb(175, 164, 154);
  cursor: not-allowed;
}
.product-data > *{
  display: block;
  text-align: center;
}

.l-roduct{
  margin-bottom: .2em;
}

.image-params{
  top: -15px;
  position: relative;
}

.c-product{
  height: 50px;
  padding: 1em 0 1em 0;
  margin: 0;
}

.total-count{
  width: calc(50% - 5px);
  float: right;
}
.product-detail{
  width: 20%;
  margin: 0 auto;
}
.product-detail > *{
  display: block;
  text-align: center;
}
.product-detail a{
  font-size: 12px;
  padding: 0;
  line-height: 30px;
  margin-top: 1em;
  color: white;
  text-decoration: underline;
  text-transform: none;
}

.product-detail > a:hover{
  font-size: 12px;
  padding: 0;
  line-height: 30px;
  margin-top: 1em;
  color: white;
  text-decoration: underline;
  text-transform: none;
}

.p-img{
  background: rgb(32, 45, 57);
  width: 18px;
  float: left;
  padding: .3em;
}
.p-img img{
  width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
}

.h-danger:hover{
  background: rgb(205, 9, 48);
}

.h-primary:hover{
  background: rgb(47, 129, 183);
}

.product-container{
  height: 70vh;
  overflow-y: scroll;
}
